---
spark-config:
  partitions: 64
  filterPushdown: True
  appName: IMDB
  testAppName: TEST-IMDB
  host: spark://spark:7077
  #host: local[*]

jobs-param:
  year: 2021
  top_n_collaborations: 10
  distribution_past_years: 100

path:
  movies: /resources/data/title_basics/data.tsv
  relation: /resources/data/principals/data.tsv
  artists: /resources/data/name_basics/data.tsv